body{
font-family:Arial,Helvetica,sans-serif;
background:#efefef;
position:absolute;
top:50%;
transform:translateY(-50%);
width:100%;
overflow:hidden;
}
a:link,a:visited{
	text-decoration:none;
	color:white;
}
h1{
color:#aaa;
font-weight:500;
text-align:center;
}
h2{
	text-align:center;
}
.login{
background:#fff;
width:40%;
margin:auto;
padding:1em 4em 5em 4em;
}
.inp{
font-size:1em;
border: 0;
margin:0.5em;
border-bottom: 1px solid #ccc;
background: none;
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
width: 100%;
padding: 1em;
display:block;
}
.inp:hover,.inp:focus{
background:#efefef;
}
.button{
font-size: 100%;
margin:1em;
float:right;
border: 0;
padding:0.5em 1em;
border-radius:2px;
background:#166f99;
color:#ffffff;
}
.button:hover{
background: #166fcc;
}
.err{
	text-align:center;
	color:red;
	font-size:1.1em;
}
